<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<h1>Todo: {{.name}}</h1>

<style>
    .container{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .item {
        display: flex;
        flex-direction: column;
    }

    .header{
        text-align: center;
    }

    .item {
        padding: 0px 5% 0px 5%
    }
</style>

<p>LIST: </p>
<div class="container">
    <div class="item">
        <p class="header"><b>Start</b></p>
        <ul>
            {{range .todos}}
            {{if (eq .Status "Start")}}
            <li> <a href="/todo/{{.Id}}">[SHOW]</a>{{.Id}} ) {{.Name}} - {{.Status}} <a href="/todo/{{.Id}}/delete">[X]</a></li>
            {{end}}
            {{end}}
        </ul>
    </div>
    <div class="item">
        <p class="header"><b>In process</b></p>
        <ul>
            {{range .todos}}
            {{if (eq .Status "InProcess")}}
            <li> <a href="/todo/{{.Id}}">[SHOW]</a>{{.Id}} ) {{.Name}} - {{.Status}} <a href="/todo/{{.Id}}/delete">[X]</a></li>
            {{end}}
            {{end}}
        </ul>
    </div>
    <div class="item">
        <p class="header"><b>Done</b></p>
        <ul>
            {{range .todos}}
            {{if (eq .Status "Done")}}
            <li> <a href="/todo/{{.Id}}">[SHOW]</a>{{.Id}} ) {{.Name}} - {{.Status}} <a href="/todo/{{.Id}}/delete">[X]</a></li>
            {{end}}
            {{end}}
        </ul>
    </div>

</div>


{{ if .todo }}
<p>
    <b>Info Page</b>
    <ul>
        <li>ID: {{.todo.Id}} </li>
        <li>SLUG: {{.todo.Slug}} </li>
        <li>NAME: {{.todo.Name}} </li>
        <li>STATUS: {{.todo.Status}} </li>
    </ul>
</p>

<b>Edit Page</b>
<form action="/todo/{{.todo.Id}}" method="POST">

    <p>Name: <input type="text" name="name" value="{{.todo.Name}}"></p>
    <p>Slug: <input type="text" name="slug" value="{{.todo.Slug}}"></p>
    <p>Status:
        <select name="status">
            <option value="{{.todo.Status}}">-- Select --</option>
            <option value="Start">Start</option>
            <option value="InProcess">InProcess</option>
            <option value="Done">Done</option>
        </select>
    </p>
    <input type="submit" value="Update">

</form>
{{end}}

<b>Add Page</b>
<form action="/todo/store" method="POST">

    <p>Name: <input type="text" name="name"></p>
    <p>Slug: <input type="text" name="slug"></p>
    <p>Status:
        <select name="status">
            <option value="Start">Start</option>
            <option value="InProcess">InProcess</option>
            <option value="Done">Done</option>
        </select>
    </p>

    <input type="submit" value="Add">

</form>

</body>
</html>