<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<h1>Todo: {{.name}}</h1>

<p>LIST: </p>
<ul>
    {{range .todos}}
    {{if .Id}}
    <li> <a href="/todos/{{.Id}}">[SHOW]</a>{{.Id}} ) {{.Name}} <a href="/todos/{{.Id}}/destroy">[X]</a></li>
    {{end}}
    {{end}}
</ul>

{{ if .todo }}
<p>
    <b>Info Page</b>
    <ul>
        <li>ID: {{.todo.Id}} </li>
        <li>SLUG: {{.todo.Slug}} </li>
        <li>NAME: {{.todo.Name}} </li>
    </ul>
</p>

<b>Edit Page</b>
<form action="/todos/{{.todo.Id}}" method="POST">

    <p>Name: <input type="text" name="name" value="{{.todo.Name}}"></p>
    <p>Slug: <input type="text" name="slug" value="{{.todo.Slug}}"></p>
    <input type="submit" value="Update">

</form>
{{end}}

<b>Add Page</b>
<form action="/todos" method="POST">

    <p>Name: <input type="text" name="name"></p>
    <p>Slug: <input type="text" name="slug"></p>
    <input type="submit" value="Add">

</form>

</body>
</html>