<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<h1>Hello {{.name}}</h1>

<p>LIST: </p>
<ul>
    {{range .pages}}
    {{if .Id}}
    <li> <a href="/pages/{{.Id}}">[SHOW]</a>{{.Id}} ) {{.Name}} <a href="/pages/{{.Id}}/destroy">[X]</a></li>
    {{end}}
    {{end}}
</ul>

{{ if .page }}
<p>
    <b>Info Page</b>
    <ul>
        <li>ID: {{.page.Id}} </li>
        <li>SLUG: {{.page.Slug}} </li>
        <li>NAME: {{.page.Name}} </li>
    </ul>
</p>

<b>Edit Page</b>
<form action="/pages/{{.page.Id}}" method="POST">

    <p>Name: <input type="text" name="name" value="{{.page.Name}}"></p>
    <p>Slug: <input type="text" name="slug" value="{{.page.Slug}}"></p>
    <input type="submit" value="Update">

</form>
{{end}}

<b>Add Page</b>
<form action="/pages" method="POST">

    <p>Name: <input type="text" name="name"></p>
    <p>Slug: <input type="text" name="slug"></p>
    <input type="submit" value="Add">

</form>

</body>
</html>