<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Todo list</title>
</head>
<body>
<header>

    <style>
        nav {
            text-align: center;
        }

        nav a {
            padding: 5px;
            font-size: 20px
        }

        .container {
            display: flex;
            flex-direction: row;
            justify-content: center;
        }

        .item {
            display: flex;
            flex-direction: column;
        }

        .header {
            text-align: center;
        }

        .item {
            padding: 0px 5% 0px 5%
        }
    </style>
</header>
<nav>
    <a href='/'>Home</a>
    <a href='/todo'>Todo list</a>
</nav>
<main>
    <div class="container">
        <div class="item">
            <p class="header"><b>Todo</b></p>
            <ul>
                {{range .Todos}}
                {{if (eq .Status "Todo")}}
                <li> <a href="/todo/{{.Id}}">{{.Name}}</a> - <a href="/todo/{{.Id}}">[E]</a> <a
                        href="/todo/{{.Id}}/delete">[X]</a></li>
                {{end}}
                {{end}}
            </ul>
        </div>

        <div class="item">
            <p class="header"><b>In progress</b></p>
            <ul>
                {{range .Todos}}
                {{if (eq .Status "InProgress")}}
                <li> <a href="/todo/{{.Id}}">{{.Name}}</a> - <a href="/todo/{{.Id}}">[E]</a> <a
                        href="/todo/{{.Id}}/delete">[X]</a></li>
                {{end}}
                {{end}}
            </ul>
        </div>

        <div class="item">
            <p class="header"><b>Done</b></p>
            <ul>
                {{range .Todos}}
                {{if (eq .Status "Done")}}
                <li> <a href="/todo/{{.Id}}">{{.Name}}</a> - <a href="/todo/{{.Id}}">[E]</a> <a
                        href="/todo/{{.Id}}/delete">[X]</a></li>
                {{end}}
                {{end}}
            </ul>
        </div>

        <div class="item">
            <p class="header"><b>Review</b></p>
            <ul>
                {{range .Todos}}
                {{if (eq .Status "Review")}}
                <li> <a href="/todo/{{.Id}}">{{.Name}}</a> - <a href="/todo/{{.Id}}">[E]</a> <a
                        href="/todo/{{.Id}}/delete">[X]</a></li>
                {{end}}
                {{end}}
            </ul>
        </div>



    </div>

    <div class="container">
        <div class="item">
            {{ if .Todo.Id }}
            <p>
                <b>Info TODO</b>
            <ul>
                <li>ID: {{.Todo.Id}}</li>
                <li>SLUG: {{.Todo.Slug}}</li>
                <li>NAME: {{.Todo.Name}}</li>
                <li>STATUS: {{.Todo.Status}}</li>
            </ul>
            </p>
        </div>

        <div class="item">
            <b>Edit TODO</b>
            <form action="/todo/{{.Todo.Id}}" method="POST">

                <p>Name: <input type="text" name="name" value="{{.Todo.Name}}"></p>
                <p>Slug: <input type="text" name="slug" value="{{.Todo.Slug}}"></p>
                <p>Status:
                    <select name="status">
                        <option value="{{.Todo.Status}}">-- Select --</option>
                        {{range $k, $e := .Status}}
                        <option value="{{$k}}">{{$e}}</option>
                        {{end}}
                    </select>
                </p>
                <input type="submit" value="Update">

            </form>
            {{end}}
        </div>

        <div class="item">
            <b>Add TODO</b>
            <form action="/todo/store" method="POST">

                <p>Name: <input type="text" name="name"></p>
                <p>Slug: <input type="text" name="slug"></p>
                <p>Status:
                    <select name="status">
                        {{range $k, $e := .Status}}
                            <option value="{{$k}}">{{$e}}</option>
                        {{end}}
                    </select>
                </p>

                <input type="submit" value="Add">

            </form>
        </div>
    </div>
</main>
</body>
</html>